
<% provide(:title, 'Sign up') %>

<div class="pt-5 pb-5">
  <div class="p-3 pt-5">
    <h1>Sing up</h1>
  </div>
  <div class="alert alert-info p-3" role="alert">
    <h4 class="alert-heading">
      <%= @user.line_display_name %> さん
    </h4>
    <hr>
    <div>
      <p>CHRONUSのユーザーIDとパスワードを登録してね。</p>
    </div>
  </div>
  <div id="user-form">
    <%= form_for(@user, url: update_signup_path) do |f| %>

      <div class="d-flex flex-column">
        <form class="form-inline">
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                The form contains <%= pluralize(@user.errors.count, "error") %>.
              </div>
              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="input-field">
            <%= f.label :user_id %>
            <%= f.text_field :user_id, placeholder: 'TIE999999', class: 'form-control', 'v-model': 'user.id' %>
            <p v-show="!validation.id" class="text-danger">IDを入力して下さい</p>

            <%= f.label :password %>
            <%= f.password_field :password, placeholder: '********', class: 'form-control', 'v-model': 'user.password' %>
            <p v-show="!validation.password" class="text-danger">パスワードを入力して下さい</p>

            <!-- <p>User name: {{ validation }}</p>
            <span>Validation: {{ isValid == true }}</p> -->

            <!-- TODO: disabledにisValidを渡す -->
            <div v-if=isValid class="text-center">
              <%= f.submit "登 録", class: "btn btn-primary  btn-lg m-5 w-50" %>
            </div>
            <div v-else class="text-center">
              <%= f.submit "登 録", class: "btn btn-primary  btn-lg m-5 w-50", disabled: true %>
            </div>
          </div>
        </form>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag "users/form" %>
